[init]
  defaultBranch = main
  
[color]
  ui = auto

[color "diff"]
  meta = white bold
  frag = cyan bold
  old = red bold
  new = green bold

[user]
	name = Dylan Sleith
	email = sleithdylan@gmail.com

[core]
	editor = code
  
[alias]
  a = add
  ua = reset HEAD
  b = branch
  c = commit
  co = checkout
  ap = add -p      # Patch mode for specified files
  ca = commit -a   # Add all files and commit
  cm = commit -m   # Commit message
  cam = commit -am # Add all files and commit with message
  s = status -sb   # Short status with current branch
  master = !git checkout master && git pull --prune
  develop = !git checkout develop && git pull --prune
  
  # When doing "git git log" or some such, do not complain about "git"
  git = !git
  
  # Commits log with pretty format
  l = log --all --graph --decorate --oneline

  # Fully commits log with statistic
  ll = log --stat --abbrev-commit

  # Ignore files: append file to .ginignore
  ignore = !([ ! -e .gitignore ] && touch .gitignore) | echo `\n$2` >> .gitignore

  # Initialize, add all files and commit
  this = !git init && git add . && git commit -m 'Initial commit'

  # Amend last commit
  amend = commit --amend

  # Ammend last commit with its original message
  redo = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend

  # Reset index changes, but not the working tree
  undo = reset --mixed HEAD^

  # Checkout to HEAD revision
  discard = checkout --

  # List of contributors and how many commits each person has.
  contrib = shortlog -sn

  # See how many lines of code you have written today.
  today = diff --shortstat "@{0 day ago}"

  # How many lines in repo
  stat = !git ls-files | xargs wc -l
  
[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"

[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
  
[credential "helperselector"]
	selected = <no helper>
